body {
  margin-top: 10px;
}

.btn-primary.wd-override-tweet-btn {
  border-radius: 50px;
  margin-top: 10px;
  width: 100%;
}

.wd-override-search {
  border-radius: 50px;
  border-color: lightgray;
  border-style: solid;
  width: 90%;
  padding: 8px 16px;
  margin-bottom: 10px;
}

.wd-override-gear {
  float: right;
  padding: 15px;
}

.wd-spacex-override {
  margin-top: 10px;
}

.wd-tweets {
  font-size: 15px;
}

.wd-override-check {
  font-size: 7px;
}

.wd-override-icons {
  font-size: 9px;
}

.btn-primary.wd-override-follow {
  border-radius: 50px;
  float: right;
}